*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Serif', serif;
}
p{
    font-family: 'Secular One', sans-serif;
}
body {
    background-image: url('/V12-Gym_Front/src/image/background.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }